.sidebarList{
    list-style: none;
    padding: 5px;
}
.sidebarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem.active, 
.sidebarListItem:hover{
    background-color: whitesmoke;
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}
